---
import Navbar from "../components/Navbar.svelte";
import Hero from "../components/Hero.svelte";
import Problem from "../components/Problem.svelte";
import Fact from "../components/Fact.svelte";
import ProblemSecond from "../components/ProblemSecond.svelte";
import ProblemThird from "../components/ProblemThird.svelte";
import CallToAction from "../components/CallToAction.svelte";
import BreakSection from "../components/BreakSection.svelte";
import ProductShow from "../components/ProductShow.svelte";
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>Astro</title>
	</head>
	<body>
		<Navbar/>
		<Hero/>
		<Problem/>
		<Fact/>
		<ProblemSecond/>
		<ProblemThird/>
		<BreakSection/>
		<ProductShow/>
		<CallToAction/>
	</body>
</html>
