---
import Navbar from "../components/Navbar.astro";
import Hero from "../components/Hero.astro";
import Problem from "../components/Problem.astro";
import Fact from "../components/Fact.astro";
import ProblemSecond from "../components/ProblemSecond.astro";
import ProblemThird from "../components/ProblemThird.astro";
import CallToAction from "../components/CallToAction.astro";
import BreakSection from "../components/BreakSection.astro";
import ProductShow from "../components/ProductShow.astro";
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>Astro</title>
	</head>
	<body>
		<Navbar/>
		<Hero/>
		<Problem/>
		<Fact/>
		<ProblemSecond/>
		<ProblemThird/>
		<BreakSection/>
		<ProductShow/>
		<CallToAction/>
	</body>
</html>
